@tailwind base;

@tailwind components;

@tailwind utilities;

.anchor-offset {
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

.networkButton {
  @apply bg-gray-600 opacity-50 p-2 text-2xl rounded-full m-3 flex;
  transition: 0.75s;
}

.networkButton:hover {
  @apply opacity-75;
  transition: 0.75s;
}

.profiles {
  @apply self-center flex flex-row text-gray-100 border-solid border-t-2 m-3;
}

.vertical-timeline-element-content {
  @apply border-solid border-t-2 max-w-lg;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
  @apply border-red-300;
}

.vertical-timeline-element--education .vertical-timeline-element-content {
  @apply border-blue-300;
}

.vertical-timeline-element-title {
  @apply text-lg font-bold py-1 leading-tight text-gray-800;
}

.vertical-timeline-element-subtitle {
  @apply py-1 text-lg leading-tight text-gray-800;
}

.vertical-timeline-element-body {
  @apply font-light whitespace-pre-line text-gray-700;
}

@responsive {
  .bg-r-gradient {
    background-image: radial-gradient(
      rgba(127, 199, 231, 0) 0%,
      rgba(207, 204, 255, 0.3) 45%,
      rgba(247, 250, 242, 0.8) 100%
    );
  }
}

@responsive {
  .bg-l-gradient {
    background-image: linear-gradient(
      0deg,
      rgba(247, 250, 252, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
